*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    
}

.menu{
    display: inline;
    width:60vw;
}

.sub-menu-link{
    padding: 5px;
}

header{
    position: fixed;
    display: flex;
    background-color: rgb(243, 236, 238);
    width:100vw;
    z-index: 2;
}

a:any-link{
    text-decoration: none;
    color:black
}

.menu-links{
    display: flex;
    padding: 40px;
    border: 40px;
    justify-content: space-between;
    list-style-type: none;
    
}
.menu-link>li{
    background-color: black;
    
}
.menu-link>a{
    padding: 40px;
    font-size: 30px;
    
}

.menu-links>li:hover{
    background-color: rgb(221, 216, 217);
}

.menu-links>li:hover .sub-menu{
    width: 17vw;
    display: block;
    box-sizing: border-box;
    padding: 20px;
    margin-left: 25px;
    position: absolute;
    box-shadow: 0 5px 12px rgb(0 0 0 / 15%);
    background-color: rgb(243, 236, 238);
}


.sub-menu{
    list-style-type: none;
    display: none;
    
}

.welcome-screen{
    display: inline;
    position: absolute;
    top: 47vh;
    left: 37vw;
    
}

@keyframes pulse{ 
    0%,100%{
        opacity: 1;
        top: -1px;
    }
    50%{
        opacity: 0.3;
        top: -16px;
    }
}

#second-content-block{
    width: 100vw;
}

.angle-down{
    -webkit-animation: pulse 3s infinite;
    animation: pulse 3s infinite;
    font-size: 28px;
    position:absolute;
    color:rgb(0, 0, 0);
    top: 50%;
    transform: rotate(90deg);
}

.angle-down:before {
    content: "\003E";
}

.scroll-down-div{
    
    margin-left: 145px;
    top:50vh;
    position: absolute;
    cursor: pointer;
}

.main-page-content{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top:110%;
}

.description-text{
    font-size:2vh ;
    margin-top: 10vh;
    width:30%;
    box-shadow: 0 5px 12px rgb(0 0 0 / 20%);
    margin-left: 15%;
    padding: 10px;
    display:inline-block;
    
}

#first-content-block{
    width: 100vw;
    display:inline-block;
    margin-left: 0;
    top:0;
}

#firstImage{
    vertical-align:top;
    margin:20px;
    margin-top: 12vh;
}

#second-main-text{
    font-size:2vh ;
    width:30vw;
    box-shadow: 0 5px 12px rgb(0 0 0 / 20%);
    margin-left: 15px;
    padding: 10px;
    display:inline-block;
}

.hide{
    display:none
}

#hstr{
    position: absolute;
    margin-top: 11%;
}

.img-first-block{
    
    height: 30vh;
    width: 29.8vw;
}

.img-second-block {
    margin-left: 15.2vw; 
    vertical-align:top;
    margin-top: 20px;
}

.main-page-content{
    width: 100vw;
    margin-left: -17px;
}
@media (max-width:425px) {
    .welcome-screen{
        left:5vw
    }
    .menu-links{
        flex-direction: column;  
        padding: 0;
    }

    .menu-link>a{
        padding: 0;
    }
    header{
        width: 100vw;
    }

    .description-text{
        width: 100vw;
        padding: 0;
        margin: 0;
    }

    #firstImage{
    
        margin: 0;
        width: 100vw;
    }

    #second-main-text{
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .img-first-block{
        width: 100vw;
        margin: 0;
    }

    
}